<!-- <mat-list role="list">
    <a mat-list-item role="listitem" routerLink="/admin">Dashboard</a>
    <a mat-list-item role="listitem" routerLink="customers">Customers</a>
    <a mat-list-item role="listitem" routerLink="products">Products</a>
    <a mat-list-item role="listitem" routerLink="orders">Orders</a>
    <a mat-list-item role="listitem" routerLink="">Siteyi Gör</a>
  </mat-list>
   -->

<mat-list role="list" class="sidebar-list">
  <a mat-list-item role="listitem" routerLink="/admin" routerLinkActive="active-link">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item role="listitem" routerLink="customers" routerLinkActive="active-link">
    <mat-icon>people</mat-icon>
    <span>Customers</span>
  </a>
  <a mat-list-item role="listitem" routerLink="products" routerLinkActive="active-link">
    <mat-icon>inventory_2</mat-icon>
    <span>Products</span>
  </a>
  <a mat-list-item role="listitem" routerLink="orders" routerLinkActive="active-link">
    <mat-icon>shopping_cart</mat-icon>
    <span>Orders</span>
  </a>
  <a mat-list-item role="listitem" routerLink="authorize-menu" routerLinkActive="active-link">
    <mat-icon>shopping_cart</mat-icon>
    <span>Authorize Menu</span>
  </a>
    <a mat-list-item role="listitem" routerLink="roles" routerLinkActive="active-link">
    <mat-icon>role</mat-icon>
    <span>Roles</span>
  </a>
  <a mat-list-item role="listitem" routerLink="/" routerLinkActive="active-link">
    <mat-icon>language</mat-icon>
    <span>Siteyi Gör</span>
  </a>
</mat-list>